@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
    scroll-behavior: smooth !important;
}


body {
    margin: 0;
    background-image: url("images/stars.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-holder{
    backdrop-filter: blur(25px);
}

.bi {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #0C0F0A;
}

/* start navbar */

.nav-bar {
    background-color: #FFFFFF;
    width: 100%;
    color: #0C0F0A;
    font-family: "Rubik", sans-serif;
    box-shadow: 0 0 5px #FFFFFF;
    position: fixed;
    z-index: 1;
}

.container {
    padding: 6px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    align-items: center;
    gap: 150px;
    font-size: 24px;
}

.element-list {
    cursor: pointer;
    list-style: none;
    transition: ease-in-out 0.3s;
    text-transform: capitalize;
}

#side-bar-button {
    display: none;
}

.btn-contact {
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    display: none;
    font-family: "Rubik", sans-serif;
}

.btn-contact:hover {
    background-color: red;
    color: white;
}

/* end navbar */

/* start sidebar */

.side-bar {
    z-index: 10;
    width: 300px;
    height: 100%;
    background-image: url("images/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: -300px;
    color: black;
    font-family: "Rubik", sans-serif;
    transition: 0.4s ease-in-out;
}

.container-side-bar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    backdrop-filter: blur(100px);
}

.list-side-bar {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 75px;
    font-size: 24px;
}

#closeButton {
    transition: ease-in-out 0.4s;
}

@media (max-width: 1300px) {
    .list {
        display: none;
    }

    #side-bar-button {
        display: block;
    }

    .container .logo span {
        display: none;
    }

    .btn-contact {
        display: block;
    }

    .container {
        padding: 18px;
    }
}

/* end sidebar */

/* header start */

.header {
    font-family: "Rubik", sans-serif;
    width: 100%;
    /*background-image: url("images/stars.webp");*/
    background-color: transparent;
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.container-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*backdrop-filter: blur(50px);*/
    height: 100%;
    padding: 200px 250px;
    gap: 50px;
}

.container-header div {
    flex: 1;
    text-align: center;
}

.container-header div .title {
    font-size: 62px;
    color: #FBFF12;
    font-weight: 600;
}

.container-header div p {
    font-size: 32px;
    color: white;
}

.btn-download {
    background-color: #FF206E;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: auto;
}

@media (max-width: 960px) {
    .container-header {
        padding-left: 50px;
        padding-right: 50px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .container-header div img {
        width: 300px;
    }
}

/* header end */

/* skills start */

.skills {
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    width: 100%;
    height: fit-content;
}

.dev-skills {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 25px;
    padding: 25px 25px 200px;
}

.skill {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    min-width: 350px;
    max-width: 450px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 32px;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    text-transform: capitalize;
    box-shadow: 0 0 5px #FBFF12;
    transition: ease-in-out 0.4s;
}

.skill:hover {
    scale: 102%;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    padding: 25px;
    border: 5px solid rgba(128, 128, 128, 0.27);
}

.skills .title {
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px;
    margin: 0;
    color: #FBFF12;
}

/* skills end */

/* education start */

.education {
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.education .title{
    font-size: 42px;
    color: #FBFF12;
    padding: 25px;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: transparent;
    margin: 0;
    text-transform: uppercase;
}

.education-container{
    display: flex;
    height: fit-content;
    color: white;
    flex-wrap: wrap;
}

.education-container div{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.university{
    border-right: 5px solid #FBFF12;
}

.university h1{
    border: none;
}

.university p{
    text-align: center;
    font-size: 32px;
}

.high-school{

}

.high-school h1{
    border: none;
}

.high-school p{
    text-align: center;
    font-size: 32px;
}

/* education end */